Repository lpreaux/usermanager: changes, and which Codecov flags are due for each by the changed paths.
All: domain, application, infrastructure

✨ docs: update build and code quality badges in README and monitoring docs
  README.md
  docs/MONITORING.md
Due: none

`docs: 🔄 update CircleCI badge style to shield`
  README.md
Due: none

`♻️ chore(ci): clean up comments in CircleCI config`
  .circleci/config.yml
Due: none

♻️ chore(ci): bump codecov orb version to 5.3.0 in circleci config
  .circleci/config.yml
Due: none

`:bug: fix CircleCI Codecov configuration for multiple file uploads`
  .circleci/config.yml
Due: none

`⚙️ ci: update Codecov upload path to directory`
  .circleci/config.yml
Due: none

🚀 chore(ci): update Codecov config with explicit parameters in CircleCI
  .circleci/config.yml
Due: none

`🐛 fix(ci): correct Codecov upload parameters in CircleCI config`
  .circleci/config.yml
Due: none

✨ feat(api): Add OpenAPI documentation with springdoc integration and annotations
  pom.xml
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/ApplicationController.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/UserController.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/dto/request/RegisterUserRequest.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/dto/response/UserResponse.java
  src/main/resources/application.yml
Due: infrastructure

✨ feat: add observability stack with Prometheus, Grafana, Loki, and custom metrics
  docker-compose.yml
  monitoring/compose.yml
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/dashboards/spring-boot-dashboard.json
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki/loki-config.yml
  monitoring/prometheus/prometheus.yml
  monitoring/promtail/promtail-config.yml
  pom.xml
  src/main/java/fr/lpreaux/usermanager/application/service/UserService.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/exception/GlobalExceptionHandler.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/MetricsConfig.java
  src/main/resources/META-INF/build-info.properties
  src/main/resources/application.yml
  start-monitoring.sh
Due: application, infrastructure

📄 chore: update .gitignore and adjust promtail log path
  .gitignore
  monitoring/compose.yml
Due: none

:white_check_mark: test: add mock for user registration counter in UserServiceTest
  src/test/java/fr/lpreaux/usermanager/application/service/UserServiceTest.java
Due: none

🚀 feat(analytics): integrate PostHog for API usage tracking and user behavior analytics
  docker-compose.yml
  pom.xml
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/UserController.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/analytics/AnalyticsService.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/AnalyticsInterceptor.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/PostHogConfig.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/WebMvcConfig.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/package-info.java
  src/main/resources/application.yml
Due: infrastructure

🚀 feat(analytics): integrate PostHog for API usage tracking and user behavior analytics
  .dockerignore
  .env.dev
  .env.prod
  .gitignore
  README.md
  deploy.sh
  dev-env.sh
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  generate-htpasswd.sh
  generate-ssl-cert.sh
  nginx/conf/user-manager.conf
  src/main/java/fr/lpreaux/usermanager/application/service/UserService.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/analytics/AnalyticsService.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/logging/LoggingAdapter.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/logging/strategy/DevelopmentLoggingStrategy.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/logging/strategy/LoggingStrategy.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/logging/strategy/ProductionLoggingStrategy.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/EnvironmentConfig.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/MetricsConfig.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/PostHogConfig.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/config/SentryConfig.java
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Due: application, infrastructure

✨ docs: add detailed roadmaps for code quality, documentation, and functional plans
  docs/roadmap/amelioration-quality-of-code.md
  docs/roadmap/amerlioration-documentation.md
  docs/roadmap/roadmap-fonctionnel.md
Due: none

🔧 test: refactor integration tests and add new user service test cases
  src/test/java/fr/lpreaux/usermanager/application/service/UserServiceTest.java
  src/test/java/fr/lpreaux/usermanager/infrastructure/config/TestConfig.java
  src/test/java/fr/lpreaux/usermanager/integration/SimpleUserRegistrationIntegrationTest.java
  src/test/java/fr/lpreaux/usermanager/integration/UserManagerIntegrationTest.java
  src/test/resources/application-test.yml
Due: none

✨ test: add mock for AnalyticsService in UserControllerTest
  src/test/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/UserControllerTest.java
Due: none

🔍 test(user-controller): add comprehensive test coverage for user management functionalities
  src/test/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/UserControllerTest.java
Due: none

🚦 test: add and enhance unit tests for domain value objects
  src/test/java/fr/lpreaux/usermanager/domain/model/valueobject/FirstNameTest.java
  src/test/java/fr/lpreaux/usermanager/domain/model/valueobject/LoginTest.java
  src/test/java/fr/lpreaux/usermanager/domain/model/valueobject/NameTest.java
  src/test/java/fr/lpreaux/usermanager/domain/model/valueobject/PasswordTest.java
  src/test/java/fr/lpreaux/usermanager/domain/model/valueobject/UserIdTest.java
Due: none

💡 test: add and enhance tests for UserRepositoryAdapter, covering find, save, delete, and edge cases
  src/test/java/fr/lpreaux/usermanager/infrastructure/persistence/adapter/UserRepositoryAdapterTest.java
Due: none

✨ test: add parameterized and edge case tests for password validation, email case sensitivity, and birth date age calculation
  src/test/java/fr/lpreaux/usermanager/application/service/UserServiceTest.java
  src/test/java/fr/lpreaux/usermanager/domain/model/valueobject/BirthDateTest.java
  src/test/java/fr/lpreaux/usermanager/integration/SimpleUserRegistrationIntegrationTest.java
Due: none

✨ feat(domain): introduce Role and Permission management
  src/main/java/fr/lpreaux/usermanager/domain/model/Permission.java
  src/main/java/fr/lpreaux/usermanager/domain/model/Role.java
  src/main/java/fr/lpreaux/usermanager/domain/model/User.java
  src/main/java/fr/lpreaux/usermanager/domain/model/valueobject/RoleId.java
Due: domain

:sparkles: feat: add core use cases and exceptions for authentication, role management, and user-role handling`
  src/main/java/fr/lpreaux/usermanager/application/exception/InvalidCredentialsException.java
  src/main/java/fr/lpreaux/usermanager/application/exception/InvalidTokenException.java
  src/main/java/fr/lpreaux/usermanager/application/exception/RoleAlreadyExistsException.java
  src/main/java/fr/lpreaux/usermanager/application/exception/RoleNotFoundException.java
  src/main/java/fr/lpreaux/usermanager/application/port/in/AuthenticationUseCase.java
  src/main/java/fr/lpreaux/usermanager/application/port/in/RoleManagementUseCase.java
  src/main/java/fr/lpreaux/usermanager/application/port/in/UserRoleUseCase.java
Due: application

`✨ feat(security): implement brute-force protection and JWT encryption support`
  pom.xml
  src/main/java/fr/lpreaux/usermanager/application/service/AuthenticationService.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/security/BruteForceProtectionFilter.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/security/SecurityHeadersFilter.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/security/JweTokenProviderImpl.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/security/JwtTokenProviderImpl.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/security/SecurityAuditLogger.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/adapter/out/security/SecurityAuditLoggerImpl.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/monitorig/SecurityMetrics.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/persistence/adapter/RedisTokenBlacklistAdapter.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/security/BruteForceProtectionService.java
  src/main/java/fr/lpreaux/usermanager/infrastructure/security/CryptographyUtils.java
  src/main/resources/application.yml
Due: application, infrastructure

🎨 refactor(docker): reorganize and rename Docker-related files
  backend/.dockerignore
  backend/dockerfile
Due: none

Refactor project paths in configuration and compose files
  backend/src/main/java/fr/lpreaux/usermanager/infrastructure/config/SecurityConfig.java
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  start-monitoring.sh
Due: none

Initialize frontend with React, TypeScript, Vite, and TailwindCSS.
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/.gitkeep
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/hooks/.gitkeep
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/UserDetailPage.tsx
  frontend/src/pages/UsersPage.tsx
  frontend/src/routes.tsx
  frontend/src/utils/.gitkeep
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: none

Add user authentication, role management, and permission handling
  frontend/src/components/features/role/PermissionManager.tsx
  frontend/src/components/features/user/PasswordChangeForm.tsx
  frontend/src/components/features/user/UserContactManager.tsx
  frontend/src/components/features/user/UserRoleManager.tsx
  frontend/src/pages/RoleDetailPage.tsx
  frontend/src/pages/RoleFormPage.tsx
  frontend/src/pages/RolesPage.tsx
  frontend/src/pages/UserDetailPage.tsx
  frontend/src/pages/UserFormPage.tsx
  frontend/src/routes.tsx
  frontend/src/services/api/authService.ts
  frontend/src/services/api/index.ts
  frontend/src/services/api/roleService.ts
  frontend/src/services/api/userService.ts
  frontend/src/store/authStore.ts
Due: none

chore: secure and document the public repository
  .circleci/config.yml
  .env.dev
  .env.example
  .env.prod
  .gitignore
  README.md
  backend/src/main/java/fr/lpreaux/usermanager/domain/model/User.java
  backend/src/main/java/fr/lpreaux/usermanager/infrastructure/persistence/entity/RoleEntity.java
  backend/src/main/java/fr/lpreaux/usermanager/infrastructure/persistence/entity/UserEntity.java
  backend/src/main/resources/application.yml
  backend/src/test/java/fr/lpreaux/usermanager/application/service/UserServiceTest.java
  backend/src/test/java/fr/lpreaux/usermanager/infrastructure/adapter/in/web/UserControllerTest.java
  deploy.sh
  docker-compose.yml
  docs/images/home.png
  docs/images/login.png
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/components/features/user/PasswordChangeForm.tsx
  frontend/src/components/features/user/UserContactManager.tsx
  frontend/src/components/features/user/UserRoleManager.tsx
  frontend/src/index.css
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RoleFormPage.tsx
  frontend/src/pages/RolesPage.tsx
  frontend/src/pages/UserFormPage.tsx
  frontend/src/pages/UsersPage.tsx
  frontend/src/services/api/authService.ts
  frontend/src/services/api/client.ts
  frontend/src/services/api/index.ts
  frontend/src/services/api/roleService.ts
  frontend/src/services/api/userService.ts
  frontend/src/utils/error.ts
  frontend/tailwind.config.js
  frontend/vite.config.ts
Due: none

Path conditions:
  domain: any of: src/main/java/**/domain/**, but not: src/main/java/**/Application.java, src/main/java/**/*Config.java, src/main/java/**/*Exception.java, src/test/**/*
  application: any of: src/main/java/**/application/**, but not: src/main/java/**/Application.java, src/main/java/**/*Config.java, src/main/java/**/*Exception.java, src/test/**/*
  infrastructure: any of: src/main/java/**/infrastructure/**, but not: src/main/java/**/Application.java, src/main/java/**/*Config.java, src/main/java/**/*Exception.java, src/test/**/*
